VITE_API_URL=https://api.valcr.site/api/v1
VITE_GOOGLE_CLIENT_ID=143161014607-mleat5tn3hbc6aorsdd38f201m8lo0gj.apps.googleusercontent.com
VITE_TURNSTILE_SITE_KEY=REPLACE_WITH_CLOUDFLARE_TURNSTILE_SITE_KEY
